// VARIABLES
$light-color: #ffffff;
$dark-color: #151515;

// CORE CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;

  ::selection {
    color: $dark-color;
    background: $light-color;
  }
}

body {
  background: $dark-color;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: $light-color;
  font-weight: 600;
  letter-spacing: -1px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: $light-color;
  text-decoration: none;
}

img {
  width: 100%;
}

// CURSOR
.cursor {
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  height: 2vw;
  width: 2vw;
  background: $light-color;
  transform: translate(-50%, -50%);
  // transform-origin: 100% 100%;
  transition: transform .3s ease-in-out;
  mix-blend-mode: difference;

}

.cursorGrowOnTitle {
  transform: scale(9);
}

.navHoverCursor {
  transform: scale(4) translate(-10%, -10%);
}