* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

* ::-moz-selection {
  color: #151515;
  background: #ffffff;
}

* ::selection {
  color: #151515;
  background: #ffffff;
}

body {
  background: #151515;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: -1px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

img {
  width: 100%;
}

.cursor {
  pointer-events: none;
  position: absolute;
  border-radius: 50%;
  height: 1.5vw;
  width: 1.5vw;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  mix-blend-mode: difference;
}

.cursorGrowOnTitle {
  -webkit-transform: scale(13);
          transform: scale(13);
}

.navHoverCursor {
  -webkit-transform: scale(5) translate(-10%, -10%);
          transform: scale(5) translate(-10%, -10%);
}

#home .home-container {
  height: 100vh;
  padding: 4.6vh 5vw;
}

#home .home-container #navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home-container #navbar #arrow-line #arrow-svg {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  fill: #ffffff;
  height: 8;
  width: 9vw;
}

#home .home-container #navbar #arrow-line #arrow-svg:hover {
  -webkit-transform: scaleX(1.4);
          transform: scaleX(1.4);
}

#home .home-container #navbar #navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#home .home-container #navbar #navbar-links ul li {
  margin-left: 4.7vw;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#home .home-container #navbar #navbar-links ul li .nav-link {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  font-size: 1.8vw;
  padding: 1vw;
  font-weight: 800;
  letter-spacing: 0.2px;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

#home .home-container #navbar #black-white-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#home .home-container #navbar #black-white-toggler img {
  width: 4vw;
}

#home .home-container #home-content {
  height: 85%;
}

#home .home-container #home-content #name-title {
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#home .home-container #home-content #name-title > div {
  width: 60%;
}

#home .home-container #home-content #name-title > div h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 7vw;
  font-weight: 900;
  line-height: 1.1;
}

#home .home-container #home-content #name-title > div h3 {
  font-size: 2.5vw;
  font-weight: 500;
}

#home .home-container #home-content #home-info {
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .home-container #home-content #home-info #progresses-description {
  font-size: 1.2vw;
  text-transform: capitalize;
  opacity: 0.8;
}

#home .home-container #home-content #home-info #progresses-description > p:first-child {
  display: inline-block;
}

#home .home-container #home-content #home-info #progresses-description #progresses-animation {
  display: inline-block !important;
  position: relative;
  top: .33vw;
  width: 6vw;
  height: 2vw;
  font-weight: 900;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#home .home-container #home-content #home-info #progresses-description #progresses-animation > span {
  bottom: 0;
  position: absolute;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0;
}

#home .home-container #home-content #home-info #progresses-description #progresses-animation > span:first-child {
  -webkit-animation: rotateTextOne 12s linear infinite;
          animation: rotateTextOne 12s linear infinite;
}

#home .home-container #home-content #home-info #progresses-description #progresses-animation > span:nth-child(2) {
  -webkit-animation: rotateTextOne 12s linear infinite 4s;
          animation: rotateTextOne 12s linear infinite 4s;
}

#home .home-container #home-content #home-info #progresses-description #progresses-animation > span:last-child {
  -webkit-animation: rotateTextOne 12s linear infinite 8s;
          animation: rotateTextOne 12s linear infinite 8s;
}

@-webkit-keyframes rotateTextOne {
  0% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
  3% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  27% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  30% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
}

@keyframes rotateTextOne {
  0% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
  3% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  27% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  30% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
}

#home .home-container #home-content #home-info #contact-content {
  text-transform: uppercase;
  line-height: 1;
}

#home .home-container #home-content #home-info #contact-content p {
  font-size: 1.5vw;
  letter-spacing: -1px;
  margin-bottom: 0.7rem;
}

#home .home-container #home-content #home-info #contact-content #contact-box {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.8vw;
  height: 4.4vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border: 4px solid #ffffff;
}

#home .home-container #home-content #home-info #contact-content #contact-box h3 {
  position: absolute;
  font-weight: 900;
  font-size: 2.5vw;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#home .home-container #home-content #home-info #contact-content #contact-box h3:last-child {
  height: 101%;
  width: 101%;
  z-index: 3;
  background: #ffffff;
  color: #151515;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

#home .home-container #home-content #home-info #contact-content #contact-box h3:last-child:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#home .home-container #home-content #home-info #contact-content #contact-box h3:first-child:hover ~ h3:last-child {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

#container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  background-color: #151515;
}

.box {
  background: #ffffff;
  color: #151515;
  position: relative;
  width: 10vw;
  height: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 2vw;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.box > span {
  position: absolute;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0;
}

.box > span:first-child {
  -webkit-animation: rotateTextOne 12s linear infinite;
          animation: rotateTextOne 12s linear infinite;
}

.box > span:nth-child(2) {
  -webkit-animation: rotateTextOne 12s linear infinite 4s;
          animation: rotateTextOne 12s linear infinite 4s;
}

.box > span:last-child {
  -webkit-animation: rotateTextOne 12s linear infinite 8s;
          animation: rotateTextOne 12s linear infinite 8s;
}

@keyframes rotateTextOne {
  0% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
  3% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  27% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  30% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */