* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

* ::-moz-selection {
  color: #232323;
  background: #ffffff;
}

* ::selection {
  color: #232323;
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 2px;
  background: #232323;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #232323;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

body {
  background: #232323;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: -1px;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}

img {
  width: 100%;
}

.cursor {
  pointer-events: none;
  position: fixed;
  z-index: 9999;
  border-radius: 50%;
  height: 1.5vw;
  width: 1.5vw;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  -webkit-transition: background .4s linear, -webkit-transform .3s ease-in-out;
  transition: background .4s linear, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, background .4s linear;
  transition: transform .3s ease-in-out, background .4s linear, -webkit-transform .3s ease-in-out;
  mix-blend-mode: difference;
}

.cursorGrowOnTitle {
  -webkit-transform: scale(14);
          transform: scale(14);
}

.navHoverCursor {
  -webkit-transform: scale(5) translate(-10%, -10%);
          transform: scale(5) translate(-10%, -10%);
}

.cursorToTriangle {
  -webkit-transform: scale(2.5) translate(-10%, -10%);
          transform: scale(2.5) translate(-10%, -10%);
  mix-blend-mode: unset;
  -webkit-clip-path: polygon(25% 0%, 25% 100%, 100% 65%);
          clip-path: polygon(25% 0%, 25% 100%, 100% 65%);
}

.cursorScaleZero {
  -webkit-transform: scale(0.1) translate(-500%, -500%);
          transform: scale(0.1) translate(-500%, -500%);
  mix-blend-mode: unset;
  -webkit-animation: cursordownscale .4s linear forwards;
          animation: cursordownscale .4s linear forwards;
}

@-webkit-keyframes cursordownscale {
  0% {
    background: #ffffff;
  }
  95% {
    background: #232323;
  }
  100% {
    background: #232323;
  }
}

@keyframes cursordownscale {
  0% {
    background: #ffffff;
  }
  95% {
    background: #232323;
  }
  100% {
    background: #232323;
  }
}

.defaultCursor {
  mix-blend-mode: unset;
  border-radius: 50%;
  height: 1.5vw;
  width: 1.5vw;
  border: 1px solid #ffffff;
  background-color: unset;
  -webkit-transform: scale(3) translate(-20%, -20%);
          transform: scale(3) translate(-20%, -20%);
  -webkit-clip-path: unset;
          clip-path: unset;
}

@-webkit-keyframes hoverPopUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hoverPopUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes opacity-translate-In {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 8vw, 0) skew(0deg, -5deg);
            transform: translate3d(0, 8vw, 0) skew(0deg, -5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0vw, 0) skew(0deg, 0deg);
            transform: translate3d(0, 0vw, 0) skew(0deg, 0deg);
  }
}

@keyframes opacity-translate-In {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 8vw, 0) skew(0deg, -5deg);
            transform: translate3d(0, 8vw, 0) skew(0deg, -5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0vw, 0) skew(0deg, 0deg);
            transform: translate3d(0, 0vw, 0) skew(0deg, 0deg);
  }
}

@-webkit-keyframes opacity-translate-Out {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0vw, 0) skew(0deg, 0deg);
            transform: translate3d(0, 0vw, 0) skew(0deg, 0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 8vw, 0) skew(0deg, -5deg);
            transform: translate3d(0, 8vw, 0) skew(0deg, -5deg);
  }
}

@keyframes opacity-translate-Out {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0vw, 0) skew(0deg, 0deg);
            transform: translate3d(0, 0vw, 0) skew(0deg, 0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 8vw, 0) skew(0deg, -5deg);
            transform: translate3d(0, 8vw, 0) skew(0deg, -5deg);
  }
}

@-webkit-keyframes poppop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  60% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  85% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes poppop {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  60% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  85% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rotateup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3vw) rotateX(-80deg);
            transform: translateY(3vw) rotateX(-80deg);
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes rotateup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3vw) rotateX(-80deg);
            transform: translateY(3vw) rotateX(-80deg);
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes paragraphType {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes paragraphType {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleOpacityUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleOpacityUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#social-contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#social-contact .social-link {
  display: inline-block;
  width: 3vw;
  height: 3vw;
  border-radius: 30%;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#social-contact .social-link i {
  font-size: 1.3vw;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

#social-contact .social-link::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

#social-contact .social-link:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #232323;
}

#social-contact .social-link:hover::before {
  -webkit-animation: sakarIn 0.7s 1;
          animation: sakarIn 0.7s 1;
  top: -10%;
  left: -10%;
}

@-webkit-keyframes sakarIn {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes sakarIn {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.smooth-scroll-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  visibility: hidden;
}

#website-loading {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #232323;
  position: relative;
  overflow: hidden;
}

@-webkit-keyframes opacityDisplayNone {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    display: -webkit-box;
    display: flex;
  }
  95% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    display: -webkit-box;
    display: flex;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    display: none;
  }
}

@keyframes opacityDisplayNone {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  95% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    display: none;
  }
}

#website-loading div img {
  width: 400px;
}

#home {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  -webkit-animation: scaleOpacityUp 2s ease 1;
          animation: scaleOpacityUp 2s ease 1;
}

#home .home-container {
  height: 100%;
  padding: 4.6vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .home-container #navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home-container #navbar #arrow-line #arrow-svg {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  fill: #ffffff;
  height: 8;
  width: 9vw;
}

#home .home-container #navbar #arrow-line #arrow-svg:hover {
  -webkit-transform: scaleX(1.4);
          transform: scaleX(1.4);
}

#home .home-container #navbar #navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#home .home-container #navbar #navbar-links ul li {
  margin-left: 4.7vw;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#home .home-container #navbar #navbar-links ul li .nav-link {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  font-size: 1.8vw;
  padding: 1vw;
  font-weight: 700;
  letter-spacing: 0.2px;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

#home .home-container #navbar #black-white-toggler {
  display: none;
}

#home .home-container #navbar #black-white-toggler img {
  width: 4vw;
}

#home .home-container #name-title > div {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

#home .home-container #name-title > div h1 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 7.5vw;
  font-weight: 800;
  line-height: 1.1;
}

#home .home-container #name-title > div h3 {
  display: inline-block;
  font-size: 2.5vw;
  font-weight: 500;
}

#home .home-container #home-info {
  padding-bottom: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .home-container #home-info #progresses-description {
  font-size: 1.2vw;
  text-transform: capitalize;
  opacity: 0.8;
}

#home .home-container #home-info #progresses-description > p:first-child {
  display: inline-block;
}

#home .home-container #home-info #progresses-description #progresses-animation {
  display: inline-block !important;
  position: relative;
  top: .33vw;
  width: 6vw;
  height: 1.5vw;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#home .home-container #home-info #progresses-description #progresses-animation > span {
  bottom: 0;
  position: absolute;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0;
}

#home .home-container #home-info #progresses-description #progresses-animation > span:first-child {
  -webkit-animation: rotateTextOne 12s linear infinite;
          animation: rotateTextOne 12s linear infinite;
}

#home .home-container #home-info #progresses-description #progresses-animation > span:nth-child(2) {
  -webkit-animation: rotateTextOne 12s linear infinite 4s;
          animation: rotateTextOne 12s linear infinite 4s;
}

#home .home-container #home-info #progresses-description #progresses-animation > span:last-child {
  -webkit-animation: rotateTextOne 12s linear infinite 8s;
          animation: rotateTextOne 12s linear infinite 8s;
}

@-webkit-keyframes rotateTextOne {
  0% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
  3% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  27% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  30% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
}

@keyframes rotateTextOne {
  0% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
  3% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  27% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  30% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(240deg);
            transform: rotateX(240deg);
    opacity: 0;
  }
}

#home .home-container #home-info #contact-content {
  text-transform: uppercase;
  line-height: 1;
}

#home .home-container #home-info #contact-content p {
  font-size: 1.5vw;
  letter-spacing: -1px;
  margin-bottom: 0.6rem;
  font-weight: 600;
}

#home .home-container #home-info #contact-content #contact-box {
  position: relative;
  padding: 0.8vw;
  height: 4.4vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border: 4px solid #ffffff;
}

#home .home-container #home-info #contact-content #contact-box h3 {
  position: absolute;
  font-weight: 800;
  font-size: 2.5vw;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#home .home-container #home-info #contact-content #contact-box h3:last-child {
  height: 101%;
  width: 101%;
  z-index: 3;
  background: #ffffff;
  color: #232323;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

#home .home-container #home-info #contact-content #contact-box h3:last-child:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#home .home-container #home-info #contact-content #contact-box h3:first-child:hover ~ h3:last-child {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

#contact-section {
  overflow: hidden;
  display: none;
  opacity: 0;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 30;
}

#contact-section #contact-section-wrap {
  opacity: 0;
  display: none;
  background: #232323;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#contact-section #contact-section-wrap #contact-content-wrap {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translate3d(0, 4vw, 0) skew(0deg, -5deg);
          transform: translate3d(0, 4vw, 0) skew(0deg, -5deg);
}

#contact-section #contact-section-wrap #contact-content-wrap #close-contact {
  position: absolute;
  top: 10%;
  right: 6%;
  height: 3vw;
  width: 3vw;
}

#contact-section #contact-section-wrap #contact-content-wrap #close-contact #close-x {
  position: relative;
  top: 1.3vw;
  height: 3px;
  width: 2.5vw;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

#contact-section #contact-section-wrap #contact-content-wrap #close-contact #close-x::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  height: 3px;
  width: 2.5vw;
  background: #ffffff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

#contact-section #contact-section-wrap #contact-content-wrap #close-contact:hover #close-x {
  -webkit-transform: rotate(45deg) scaleX(1.3);
          transform: rotate(45deg) scaleX(1.3);
}

#contact-section #contact-section-wrap #contact-content-wrap #close-contact:hover #close-x::before {
  -webkit-transform: rotate(-90deg) scaleX(1.3);
          transform: rotate(-90deg) scaleX(1.3);
}

#contact-section #contact-section-wrap #contact-content-wrap #contact-email-box {
  position: absolute;
  top: 35%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#contact-section #contact-section-wrap #contact-content-wrap #contact-email-box p {
  font-size: 1.8vw;
  margin-bottom: 1vw;
  font-weight: normal;
}

#contact-section #contact-section-wrap #contact-content-wrap #contact-email-box #email-link span {
  font-size: 5.5vw;
  font-weight: 700;
}

#contact-section #contact-section-wrap #contact-content-wrap #contact-email-box #email-link span::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  background: #ffffff;
  left: 0;
  right: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

#contact-section #contact-section-wrap #contact-content-wrap #contact-email-box #email-link span:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#contact-section #contact-section-wrap #contact-content-wrap #social-contact-section {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

#contact-section #contact-section-wrap #contact-content-wrap #social-contact-section p {
  font-size: .8rem;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: .7vw;
}

#projects-section {
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  will-change: transform;
}

#projects-section #projects-section-title {
  margin: 4vw auto 8vw;
  text-align: center;
  height: 20vw;
}

#projects-section #projects-section-title .popo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#projects-section #projects-section-title .hidden {
  display: none;
}

#projects-section #projects-section-title h1 {
  -webkit-transform: scale(0);
          transform: scale(0);
  font-size: 7.5vw;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transform-origin: 50% 150% 0px;
          transform-origin: 50% 150% 0px;
  display: inline-block;
}

#projects-section #projects-section-title h1:first-child {
  -webkit-animation: poppop 1s ease forwards;
          animation: poppop 1s ease forwards;
}

#projects-section #projects-section-title h1:last-child {
  -webkit-animation: poppop 1s ease forwards .15s;
          animation: poppop 1s ease forwards .15s;
}

#projects-section .project {
  max-height: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  overflow: hidden;
  margin-bottom: 20vh;
  padding-top: 8vw;
  padding-bottom: 5vh;
}

#projects-section .project .project-showcase {
  position: relative;
  padding: 10px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  right: 2vw;
  -webkit-filter: grayscale(100%) blur(1px);
          filter: grayscale(100%) blur(1px);
  -webkit-transition: -webkit-filter 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: -webkit-filter 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: filter 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: filter 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-filter 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#projects-section .project .project-showcase:hover {
  -webkit-filter: grayscale(30%) blur(0);
          filter: grayscale(30%) blur(0);
}

#projects-section .project .project-showcase .project-bg {
  border-radius: 5px;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  width: 70vw;
  position: relative;
  height: 80vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#projects-section .project .project-showcase .project-bg:hover {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

#projects-section .project .project-showcase .project-bg .img {
  position: absolute;
  top: 0;
  left: 0;
  height: 75%;
  width: 75%;
  -webkit-transform: translateZ(130px) translateX(15.5%) translateY(15.5%);
          transform: translateZ(130px) translateX(15.5%) translateY(15.5%);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#projects-section .project .hover-project-showcase {
  -webkit-filter: grayscale(30%) blur(0);
          filter: grayscale(30%) blur(0);
}

#projects-section .project .project-description {
  position: absolute;
  right: 14.8%;
  top: 40%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-transform: uppercase;
}

#projects-section .project .project-description p {
  color: #aaaaaa;
  text-align: left;
  font-size: 1.2vw;
  font-weight: normal;
}

#projects-section .project .project-description p a {
  color: #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#projects-section .project .project-description p a:hover {
  color: #eeeeee;
  border-bottom: 1px solid #aaaaaa;
}

#projects-section .project .project-title {
  pointer-events: none;
  position: absolute;
  top: 3.8vw;
  left: 0;
  height: 20%;
  width: 85%;
  display: block;
  text-align: center;
}

#projects-section .project .project-title h1 {
  font-size: 8vw;
  font-weight: 900;
  text-transform: uppercase;
}

#projects-section .project .project-title-border {
  -webkit-text-stroke: 2px #fff;
  z-index: 2;
  color: transparent;
}

#projects-section .project .project-title-color {
  z-index: -1;
}

#projects-section .project .project-count {
  position: absolute;
  right: -4%;
  top: 50%;
  opacity: 0.1;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

#projects-section .project .project-count h1 {
  font-weight: 900;
  color: transparent;
  font-size: 22vw;
  -webkit-text-stroke: 1px #ffffff;
}

#projects-section .project .project-view-button {
  position: absolute;
  bottom: 10%;
  right: 26%;
  z-index: 10;
  border-radius: 50%;
}

#projects-section .project .project-view-button div {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #ffffff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#projects-section .project .project-view-button div p {
  text-transform: uppercase;
  font-weight: normal;
  position: absolute;
  color: #ffffff;
  font-size: 1.3vw;
  letter-spacing: .25vw;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-animation: rotatefull 6s linear infinite;
          animation: rotatefull 6s linear infinite;
}

@-webkit-keyframes rotatefull {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotatefull {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#projects-section .project .project-view-button div:hover {
  background: #ffffff;
}

#projects-section .project .project-view-button div:hover p {
  color: #232323;
  font-size: 1.2vw;
  letter-spacing: -1px;
  word-spacing: 2px;
}

#projects-section .project .video-view-button {
  position: absolute;
  top: 15%;
  right: 5%;
  z-index: 10;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  border: 3px solid #444444;
  -webkit-transition: all .8s linear;
  transition: all .8s linear;
}

#projects-section .project .video-view-button div {
  overflow: hidden;
}

#projects-section .project .video-view-button div p {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.4vw;
  text-align: center;
  font-weight: 800;
}

#projects-section .project .video-view-button:hover {
  border: 3px solid #868686;
}

#projects-section .project .video-view-button:hover div:first-child p {
  -webkit-animation: hoverPopUp 1s ease;
          animation: hoverPopUp 1s ease;
}

#projects-section .project .video-view-button:hover div:last-child p {
  -webkit-animation: hoverPopUp 1s ease .2s;
          animation: hoverPopUp 1s ease .2s;
}

#projects-section #todotoday .project-title-border {
  -webkit-text-stroke: 3px #232323;
}

#projects-section #supercar {
  margin-bottom: 5vw;
}

#about {
  height: 65vw;
}

#about #about-container {
  padding: 1vw 18vw 1vw 15vw;
  text-align: left;
  overflow: hidden;
}

#about #about-container #about-title {
  font-size: 7.5vw;
  font-weight: 600;
  margin-bottom: 5.5vw;
  -webkit-transform-origin: 25% 110% 0px;
          transform-origin: 25% 110% 0px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#about #about-container #about-me-div {
  opacity: 0.8;
}

#about #about-container #about-me-div p {
  display: none;
  font-size: 2vw;
  font-weight: 300;
  line-height: 1.3;
}

#about #about-container #about-me-div p span {
  opacity: 0;
}

#about #about-container #about-me-div p:first-child .big-font {
  line-height: .5;
  font-size: 4vw;
  font-weight: normal;
}

#about #about-container #about-me-div .read-more {
  margin-top: 1vw;
  display: none;
}

#about #about-container #about-me-div .read-more .read-more-item {
  opacity: 0;
}

#about #about-container #about-me-div .read-more .icon-line {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -0.35vw;
  width: 4.6875vw;
  height: 1px;
  background: #ffffff;
  margin-right: 3px;
}

#about #about-container #about-me-div .read-more .read-more-btn {
  position: relative;
  padding: 0 6px 0 3px;
  overflow: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-size: 1.2vw;
  font-weight: 300;
}

#about #about-container #about-me-div .read-more .read-more-btn:hover::before {
  top: 0;
}

#about #about-container #about-me-div .read-more .read-more-btn:hover {
  color: #232323;
  font-weight: 400;
}

#about #about-container #about-me-div .read-more .read-more-btn::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  z-index: -5;
}

#main-footer {
  height: 7vw;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#main-footer #footer-container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 1vw 5vw;
  opacity: 0;
  -webkit-transform: translateY(3vw) rotateX(-80deg);
          transform: translateY(3vw) rotateX(-80deg);
  -webkit-animation: rotateup 1s forwards;
          animation: rotateup 1s forwards;
}

#main-footer #footer-container p {
  font-size: 1vw;
  font-weight: 200;
  letter-spacing: 0px;
  opacity: 0.5;
}

#main-footer #footer-container #social-contact {
  opacity: 0.8;
}

@media (max-width: 1100px) {
  body {
    letter-spacing: unset;
  }
  #home .home-container #navbar {
    -ms-grid-columns: 2fr 5fr;
        grid-template-columns: 2fr 5fr;
  }
  #home .home-container #navbar #arrow-line #arrow-svg {
    width: 20vw;
  }
  #home .home-container #navbar #navbar-links ul li {
    margin-left: 4.7vw;
  }
  #home .home-container #navbar #navbar-links ul li .nav-link {
    font-size: 3.2vw;
  }
  #home .home-container #name-title > div {
    width: 100%;
  }
  #home .home-container #name-title > div h1 {
    font-size: 11vw;
    margin-bottom: 1vw;
  }
  #home .home-container #name-title > div h3 {
    font-size: 4.5vw;
  }
  #home .home-container #home-info #progresses-description {
    font-weight: 300;
    font-size: 2.2vw;
  }
  #home .home-container #home-info #contact-content {
    text-transform: uppercase;
    line-height: 1;
  }
  #home .home-container #home-info #contact-content p {
    font-size: 3vw;
    letter-spacing: 0px;
    margin-bottom: 1.1vw;
    font-weight: 300;
  }
  #home .home-container #home-info #contact-content #contact-box {
    height: 10vw;
    border: none;
    background: #ffffff;
  }
  #home .home-container #home-info #contact-content #contact-box h3 {
    color: #232323;
    position: relative;
    font-size: 6vw;
  }
  #home .home-container #home-info #contact-content #contact-box h3:last-child {
    display: none;
  }
  #social-contact .social-link {
    width: 8vw;
    height: 8vw;
  }
  #social-contact .social-link i {
    font-size: 3.4vw;
  }
  #contact-section #contact-section-wrap #contact-content-wrap #close-contact {
    right: 15%;
    height: 5vw;
    width: 5vw;
  }
  #contact-section #contact-section-wrap #contact-content-wrap #close-contact #close-x {
    height: 6vw;
    width: 0.6vw;
  }
  #contact-section #contact-section-wrap #contact-content-wrap #close-contact #close-x::before {
    content: "";
    top: 0%;
    height: 6vw;
    width: 0.6vw;
  }
  #contact-section #contact-section-wrap #contact-content-wrap #contact-email-box {
    top: 42%;
  }
  #contact-section #contact-section-wrap #contact-content-wrap #contact-email-box p {
    font-size: 4vw;
    margin-bottom: 3vw;
    font-weight: 200;
    letter-spacing: 1px;
  }
  #contact-section #contact-section-wrap #contact-content-wrap #contact-email-box #email-link span {
    font-size: 7vw;
    font-weight: 400;
  }
  #contact-section #contact-section-wrap #contact-content-wrap #contact-email-box #email-link span::before {
    content: '';
    width: 100%;
  }
  #contact-section #contact-section-wrap #contact-content-wrap #social-contact-section {
    bottom: 20%;
    left: 50%;
  }
  #contact-section #contact-section-wrap #contact-content-wrap #social-contact-section p {
    font-size: 2.5vw;
    margin-bottom: 2vw;
  }
  #projects-section #projects-section-title {
    margin: 25vw auto 30vw;
  }
  #projects-section #projects-section-title h1 {
    font-size: 12vw;
  }
  #projects-section .project {
    max-height: 85vw;
    overflow: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #projects-section .project .project-showcase {
    width: 100vw;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-filter: grayscale(30%) blur(0);
            filter: grayscale(30%) blur(0);
    -webkit-transition: unset;
    transition: unset;
  }
  #projects-section .project .project-showcase .project-bg {
    width: 90vw;
    position: relative;
    height: 40vh;
  }
  #projects-section .project .project-showcase .project-bg .img {
    display: none;
  }
  #projects-section .project .project-description {
    right: unset;
    top: unset;
    left: 6%;
    bottom: -2%;
    -webkit-transform: unset;
            transform: unset;
  }
  #projects-section .project .project-description p {
    font-size: 2.8vw;
  }
  #projects-section .project .project-description p a {
    border-bottom: 0.2px solid #aaaaaa;
  }
  #projects-section .project .project-title {
    top: 2.5vw;
    left: 0;
    width: 90%;
  }
  #projects-section .project .project-title h1 {
    font-size: 11vw;
    font-weight: 800;
  }
  #projects-section .project .project-title-border {
    -webkit-text-stroke: 1px #fff;
  }
  #projects-section .project .project-count {
    display: none;
    top: -12%;
    opacity: 0.05;
    z-index: -1;
  }
  #projects-section .project .project-count h1 {
    font-size: 25vw;
  }
  #projects-section .project .project-view-button {
    bottom: -2%;
    right: 5%;
  }
  #projects-section .project .project-view-button div {
    height: 16vw;
    width: 16vw;
    border: 1px solid #ffffff;
  }
  #projects-section .project .project-view-button div p {
    font-size: 3vw;
  }
  #projects-section .project .project-view-button div:hover p {
    font-size: 2vw;
  }
  #projects-section .project .video-view-button {
    top: -13%;
    right: 5%;
    height: 16vw;
    width: 16vw;
    border: 1px solid #444444;
  }
  #projects-section .project .video-view-button div p {
    font-size: 2.2vw;
    font-weight: 500;
  }
  #projects-section #bogoapps .project-showcase .project-bg {
    background: url("../img/projects/bogo.jpg") no-repeat right center/cover !important;
  }
  #projects-section #bomcomapps .project-showcase .project-bg {
    background: url("../img/projects/bomcom.jpg") no-repeat right center/cover !important;
  }
  #projects-section #luckgame .project-showcase .project-bg {
    background: url("../img/projects/luckgame.jpg") no-repeat center center/cover !important;
  }
  #projects-section #todotoday .project-showcase .project-bg {
    background: url("../img/projects/todotody.jpg") no-repeat center center/cover !important;
  }
  #projects-section #todotoday .project-title-border {
    -webkit-text-stroke: 1px #232323;
  }
  #projects-section #supercar {
    margin-bottom: 10vw;
  }
  #projects-section #supercar .project-showcase .project-bg {
    background: url("../img/projects/superdon.jpg") no-repeat center center/cover !important;
  }
  #about {
    height: 120vh;
  }
  #about #about-container {
    padding: 1vw 13vw 1vw 10vw;
  }
  #about #about-container #about-title {
    font-size: 11vw;
    margin-bottom: 7vw;
  }
  #about #about-container #about-me-div p {
    font-size: 4vw;
  }
  #about #about-container #about-me-div p:first-child .big-font {
    font-size: 7vw;
  }
  #about #about-container #about-me-div .read-more {
    margin-top: 1vw;
    display: none;
  }
  #about #about-container #about-me-div .read-more .read-more-item {
    opacity: 0;
  }
  #about #about-container #about-me-div .read-more .icon-line {
    width: 8vw;
  }
  #about #about-container #about-me-div .read-more .read-more-btn {
    font-size: 2.5vw;
  }
  #main-footer {
    height: 16vw;
  }
  #main-footer #footer-container p {
    font-size: 2.5vw;
  }
}

@media (max-width: 550px) {
  #projects-section .project .project-description {
    bottom: -8%;
  }
  #projects-section .project .project-title {
    top: 4vw;
  }
  #projects-section .project .project-view-button {
    bottom: -5%;
  }
  #projects-section .project .video-view-button {
    top: -10%;
  }
  #about {
    height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */